  {{#each this}}          
    <li>
        <div class="wrapper">
          <img
              src="{{flags.svg}}"
              alt="{{name.common}}"
              class="image"
          />
          <span class="details-value">{{name.common}}</span>
        </div>
    </li>
  {{/each}}